{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Vítejte na UJEP Blogu</h1>
    <p>UJEP Blog je platforma, kde můžete sdílet své pocity a zážitky.</p>
    
    <section>
        <h2>O UJEP Blogu</h2>
        <p>Náš blog umožňuje uživatelům vytvářet a sdílet články na širokou škálu témat. Ať už chcete diskutovat o technologiích, životním stylu nebo osobních zkušenostech, UJEP Blog je to pravé místo pro vás..</p>
    </section>
    
    <section>
        <h2>Připoj se k nám</h2>
        <p>Zaregistrujte se ještě dnes a začněte psát své vlastní články, komentovat příspěvky a zapojovat se do diskuzí s ostatními blogery.</p>
    </section>
</div>
{% endblock %}
