{% extends "base.html" %}

{% block content %}
<h1 style="margin:0px 100px;">New Article</h1>

<form action="{{ url_for('main.new_article') }}" method="post" style="margin:0px 100px;">
    {{ form.hidden_tag() }}
    
    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
    </div>
    
    <div style="margin-right: 100px;">
        {{ form.content.label }}<br>
        {{ form.content(rows=10, cols=32) }}<br>
    </div>
    
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

{% endblock %}
